* {
    margin: 0;
    padding: 0;
}
body{
    /*background-color: #2a85a0;*/
    background: url("../../sources/image/login/bj.png") 0 0 no-repeat scroll transparent;
    background-size:100% 100%;
}

.header{
    width: 100%;
    height:200px;
}

.content{
    width: 100%;
    height:200px;

}
.form_div{
    margin: 0 auto;
    width: 24%;
    height: 92%;
    /*background-color: #3baae3;*/
    background-color: #C4BEBB;
    /*border: 1px solid black;*/
    /* for IE */
    filter:alpha(opacity=60);
    /* CSS3 standard */
    opacity:0.6;

    border-radius: 8px 8px 8px  8px;
}
.form_div form table{
    margin-top: 8%;
    width: 100%;
    height: 92%;
}
.form_div form table tr{
    margin-top: 10px;
    width: 90%;
    align:center;
}
.form_div form table input{
    width: 100%;
    height:100%;
    background-color: #7e8582;
    border: none;
    color: #e8e4e2;
}

.form_div form button{
    width: 20%;
    height: 60%;
    background-color: #bd6451;
    border: none;
    cursor: pointer;
}
.form_div form button :hover{
    width: 25%;
    height:25%;
    box-shadow: #2d6987;
    background-color: #00b3ee;
}

.footer{
    margin-bottom: 0px;
    width: 100%;
    height: 20%;
}